@use "../../Global" as *;

// Keyframes
@keyframes fadeIn-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    height: 0;
  }
  90% {
    opacity: 1;
    height: auto;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    height: auto;
  }
}

@keyframes fadeIn-up {
  0% {
    opacity: 1;
    transform: translateY(0);
    height: auto;
  }
  90% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
    height: 0;
  }
}

.dropdown-title {
    display: inline-flex;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    color: $text-color__white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    width: 1000px;
    margin-bottom: 15px;
    cursor: pointer;
}

.display {
    overflow: hidden;

    &__true {
        animation: fadeIn-down 0.1s ease-in-out forwards;

        & p {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 5px;
        }
    }

    &__false {
        animation: fadeIn-up 0.1s ease-in-out forwards;
    }
}