@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$primary-color: #FF6060;
$text-color__white: #FFFFFF;
$text-color__black: #000000;
$text-color__grey: #E3E3E3;
$bg-footer-color: #000000;
$bg-gray: #F6F6F6;
$bg-white: #FFFFFF;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-white ;
}

.container {
    width: calc(100vw - 24px);
    max-width: 1240px;
    margin: 0 auto;
}
