@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$primary-color: #FF6060;
$text-color__white: #FFFFFF;
$text-color__black: #000000;
$bg-footer-color: #000000;
$bg-gray: #F6F6F6;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF ;
}